<%= form_for(@trip) do |f| %>
	<!--shows the error feedback message!-->
	<% if @trip.errors.any? %>
		    <div class="alert alert-error">
			    <button type="button" class="close" data-dismiss="alert">&times;</button>	
	            <p>
			    <%- for error in @trip.errors.full_messages do %>
				    <li><%= error %></li>
				<%- end %>
			    </p>
			
		    </div>
	<% end %>

  <div class="field">
    <%= f.label :trip_title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
    <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
    <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
    <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :picture_link %><br>
    <%= f.text_field :link %>
  </div>
  
    Estimated cost per person
  <div class="field">
    <%= f.label :_from %><br>
    $ <%= f.text_field :cost_min %>
  </div>

    <div class="field">
    <%= f.label :_to %><br>
    $ <%= f.text_field :cost_max %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
