<h1>Your trips</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Destination</th>
	  <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.title %></td>
        <td><%= trip.destination %></td>
		<td><%= trip.get_status() %></td>
        <td><%= link_to 'View', trip %></td> 	
        <% if trip.is_active %>		
			<% if trip.user_is_creator(@current_user) %>
				<td><%= link_to 'Edit', edit_trip_path(trip) %></td>		
				<td><%= link_to 'Finalize', :controller  => 'trips' , :action => 'finalize', :id => trip.id, data: { confirm: 'Are you sure that you want to end any modification or discussion for this trip?' } %></td>
				<td><%= link_to 'Delete', trip, method: :delete, data: { confirm: 'Are you sure that you want to delete this trip?' } %></td>
			<% else %>
				<td><%= link_to ' Leave cabal ', trip, method: :leavecabal, data: { confirm: 'Are you sure that you want to leave the cabal?' } %></td>
			<% end %>
         <% end %>
		 
	 </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to "Create a new trip", new_trip_path, :method => "get" %>

