<div class="right_body">
    <div class="right_section">
        <div>
        <h3 class="right_label" id="left">Create New Trip!</h3>
        <%= button_to "Create a new trip", new_trip_path, :method => "get", :id => "right"%>
        </div>
    </div>
</div>

<%if @current_user.get_trip_num()>0 %>

        <div class="right_title"> Your Trips</div>
        <div class="right_body">

            <% @trips.each do |trip| %>
             
                 <div class="right_section">
                      <div>
                      <div class="user_info>">
                        <h3 class="right_label"><%= trip.title %></h3>
                        <div class="right_answers">
                              <p   class="right_answers_p"> To <%= trip.destination %> </p>
                              <p   class="right_answers_p"> Status : <%= trip.get_status() %> </p>                            
                            </h3>
                        </div>  
                      </div>


                      <div class="buttonDiv">                     
                            <%= link_to 'View', trip , :class => "btn btn-primary" %>
                             <% if trip.created_by(@current_user) %>
                                   <% if trip.active %>
                                         <%= link_to 'Edit', edit_trip_path(trip), :class => "btn btn-primary"  %>
                                         <div class="finalizeBtn btn btn-primary"><%= link_to 'Finalize' , :controller  => 'trips' , :action => 'finalize', :id => trip.id,  data: { confirm: 'Are you sure that you want to end any modification or discussion for this trip?' }%></div>
                                   <%end%>  
                                    <%= link_to 'Delete', trip, method: :delete, data: { confirm: 'Are you sure that you want to delete this trip?' }, :class => "btn btn-primary" %>
                             <%else%>
                                   <%= link_to ' Leave cabal ', trip, method: :delete, data: { confirm: 'Are you sure that you want to leave the cabal?' },:class => "btn btn-primary" %>

                             <%end%>          
                             
                      </div>
                      </div>             

                </div>
               <%end%>

        </div>
<%end%>
