<%= form_for @trip, url: trip_join_path(:id => @trip.id) do |f| %>
    <% if @trip.errors.any? %>
        <div id="error_explanation">
             <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>
             <ul>
             <% @trip.errors.full_messages.each do |msg| %>
                 <li><%= msg %></li>
             <% end %>
             </ul>
        </div>
    <% end %>
 
    <p> Invite your friends to join the trip: </p>
    <% if @friends.length==0 %>
	    All your friends are invited.
	<% else %>
		<% @friends.length.times do |i| %>
		    <%= label_tag @friends[i].name %>:
		    <%= check_box_tag "friends[#{i}]" %> <br /> 
		<% end %>
		<div class="actions">
			<%= f.submit %>
		</div>
    <% end %>
<% end %>

<%= link_to 'Back', @trip %>
