<!-- show the flash -->
<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>">
		<button type="button" class="close" data-dismiss="alert">
			&times;
		</button>
		<%= value %>
	</div>
<% end %>
	
<div class="right_title"> <%=@trip.title%></div>

<div class="right_body">
    <div class="right_section">
      <div class="user_info>">
        <h3 class="right_label">Destinations:</h3>
        <div class="right_answers">
              <p   class="right_answers_p"> <%= @trip.description %>  </p>
        </div>  
       </div>
    </div>

     <div class="right_section">
      <div class="user_info>">
        <h3 class="right_label">Created By:</h3>
        <div class="right_answers">
              <p   class="right_answers_p"> <%= @trip.creator.name %>  </p>
        </div>  
       </div>
    </div>
      

    <div class="right_section">
      <div class="user_info>">
        <h3 class="right_label">Cabal:</h3>
        <div class="right_answers">
              <p   class="right_answers_p"> 
              	<%= @trip.users.map{|user| user.name}.join(", ") %>  	
              </p>
        </div>  
       </div>
    </div>


    <div class="right_section">
      <div class="user_info>">
        <h3 class="right_label">Cost Per Head:</h3>
        <div class="right_answers">
              <p   class="right_answers_p"> $<%= @trip.cost_min %> to $<%= @trip.cost_max %>  </p>
        </div>  
       </div>
    </div>

    <div class="right_section">
      <div class="user_info>">
        <h3 class="right_label">Dates:</h3>
        <div class="right_answers">
              <p   class="right_answers_p"> <%= @trip.start_date%> to <%= @trip.end_date %>  </p>
        </div>  
       </div>
    </div>
	
    <div class="trip_buttons">
      <%= link_to 'Invite Friends', trip_add_invitations_new_path(@trip.id), :class => "btn btn-primary" %>
      <%= link_to 'Add Activity', trip_activities_new_path(@trip.id), :class => "btn btn-primary" %>
    </div>
		
	</br>

	<%= render :template  => "activities/index" %> 

</div>






