<div>
    <!-- show the invite friend feedback message -->
	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>">
			<button type="button" class="close" data-dismiss="alert">
				&times;
			</button>
			<%= value %>
		</div>
	<% end %>

	<button id="invite" type="button">
		  Invite Your Facebook friends
	</button>
	<p>or</p>
	<%= render :template => 'friendships/new' %>
	</br>

	<!-- show the friend invitation -->
	<% if @invitations.any? %>
		<h3>You Have <%= pluralize(@invitations.count, "Friend Invitations")  %>  </h3>
		<% @invitations.zip(@invitations_users).each do |invitation, invitation_user| %>
			<p>
				<%= invitation_user.name%> wants to be your friend
				<%= button_to 'Accept', :controller => 'friendships', :action => "accept", :id => invitation.id,:class => "btn" %>
				<%= button_to 'Decline', decline_invitation_path(id: invitation.id), {:method => :delete, :style => "float:left;",:class => "btn"}%>
			</p>
		<% end %>
	<% end %>
	
	<!-- shows the information for each friend -->	
	<h3 id="user_data" data_user-id="<%= @user.id %>">Your friends </h3>	
	<% @friends.each do |friend| %>
		<%= render :template => 'users/show_one_friend', :locals => { :usershown => friend  }%>
	<% end %>
</div>

