<h3>Dream Destinations: </h3>
<% @current_user.destination %>  

<h3>Budget range: </h3>
	<p> In country : $<%= @current_user.budget_in_min %> to $<%= @current_user.budget_in_max %>  </p>
   <p> Out of country : $<%= @current_user.budget_out_min  %> to $<%= @current_user.budget_out_max %>  </p>

<h3>Dates available: </h3>
<% @current_user.calendar.daterange.each do |range| %>  
	From <%= range.start_date %> To <%= range.start_date %> 
	<br>
<% end %>
