<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>">
	<button type="button" class="close" data-dismiss="alert">
		&times;
	</button>
	<%= value %>
</div>
<% end %>

<div class="right_body">
	<br>
	<div class="right_section">
		<h3 class="right_label">Invite New Friends!</h3>
		<div>
			<button id="invite" type="button">Facebook Invites</button>
			<div id="templateInvite">
				<%= render :template => 'friendships/new'%>
			</div>
		</div>
	</div>
</div>

<br>
<% if @invitations.any? %>
<div class="right_body">
	<h3  class="right_label">You Have <%= pluralize(@invitations.count, "Friend Invitations")  %> </h3>
	<% @invitations.zip(@invitations_users).each do |invitation, invitation_user| %>
	<div class="right_section">
		<p>
			<%= invitation_user.name%> wants to be your friend
			<%= button_to 'Accept', :controller => 'friendships', :action => "accept", :id => invitation.id,:class => "btn" %>
			<%= button_to 'Decline', decline_invitation_path(id: invitation.id), {:method => :delete, :style => "float:left;",:class => "btn"}%>
		</p>
	</div>
	<% end %>
</div>
<% end %>


<!-- shows the information for each friend -->
<%if @friends.any?%>   
		<h3 class="right_title" id="user_data" data_user_id="<%= @current_user.id %>">Your friends </h3>
		<% @friends.each do |friend| %>
			<%= render :template => 'users/show_one_friend', :locals => { :usershown => friend  }%>
		<% end %>		
<%end%>
