<div>
	<h3 id="user_data" data_user-id="<%= @user.id %>">Your friends </h3>
	<button type="button" id="invite"> Invite Friends</button>
	</br>
	</br>
	<!-- shows the information for each friend -->
	<% @friends.each do |friend| %>
		<div class="right_title"> <%= friend.name %></div>
		<div class="right_body">

		<div class="right_section">
			<div class="user_info>">
			<h3 class="right_label">Dream Destinations:</h3>

			<div class="right_answers">
					<% if !friend.destination.nil? %>
					  <p   class="right_answers_p"> <%= friend.destination %>  </p>
					<% else %>
					   <p   class="right_answers_p"> No destinations.</p>
					<% end%>
					</h3>
			</div>	
			</div>

		 </div>


		<div class="right_section">
			<h3 class="right_label">Budget range: </h3>

			<div class="right_answers">
			<% if (!friend.budget_in_min.nil?) || (!friend.budget_in_max.nil?) %>
				<p class="right_answers_p"> In country : $ <%= friend.budget_in_min %> to $ <%= friend.budget_in_max %>  </p>
				<p class="right_answers_p"> Out of country : $ <%= friend.budget_out_min %> to $ <%= friend.budget_out_max %>  </p>
			<% else %>
				   <p class="right_answers_p"> No budget.</p>	
			<% end %>
			</div>
		</div>


		<div class="right_section">
			<h3 class="right_label">Availability: </h3>
			<div class="right_answers">
			<% if !friend.freeranges.nil? %>
			   <% @freeranges=friend.freeranges %>
				<p class="right_answers_p"> <%= render 'freeranges/index', :freeranges => friend.freeranges %> </p>
			<% else %>
				<p class="right_answers_p"> No free dates.</p>	
			<% end %>
			</div>
		</div>
		</div>
		</br>
	<% end %>
<% end %>
</div>



