<h1>Listing freeranges</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @freeranges.each do |freerange| %>
      <tr>
        <td><%= freerange.start_date %></td>
        <td><%= freerange.end_date %></td>
        <td><%= link_to 'Show', freerange %></td>
        <td><%= link_to 'Edit', edit_freerange_path(freerange) %></td>
        <td><%= link_to 'Destroy', freerange, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Freerange', new_freerange_path %>
