<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @freerange.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @freerange.end_date %>
</p>

<%= link_to 'Edit', edit_freerange_path(@freerange) %> |
<%= link_to 'Back', freeranges_path %>
