<%= form_for @activity, url: trip_activities_create_path() do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="right_body">

  <div class="field right_section">
    <div class="right_label"><%= f.label :"Activity :" %></div>
    <%= f.text_field :topic %>
  </div>

  <div class="field right_section">
    <div class="right_label"><%= f.label :"Cost of Activity :"%></div>
    <%= f.text_field :cost, :class => 'text_field', :value => (number_with_precision(f.object.cost, :precision => 2) || 0) %>
   </div>
    <div id="activitySubmit" class="btn btn-primary actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
