<h1>Listing Activities</h1>
<table>
  <thead>
    <tr>
      <th>Likes</th>
      <th>Activities</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% @activities.each do |activity| %>
      <tr>
        <%= content_tag :td, id: "like_" + activity.id.to_s do %>
          <%= activity.total_likes %>
        <% end %>

        <td><%= activity.topic %></td>

        <% if current_user.voted_up_on? activity %>
          <td><%= link_to 'Unlike', unlike_activity_path(activity), remote: true, class: "unlike_link", 
          activity_id: activity.id.to_s %></td>
        <% else %>
          <td><%= link_to 'Like', like_activity_path(activity), remote: true, class: "like_link", 
            activity_id: activity.id.to_s %></td>
        <% end %>

        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
