<h1  class="right_title">Activities</h1>
<% if @activities.any? %>
<table>
  <thead>
    <tr>
      <th>Activity</th>
	  <th>Likes</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.topic %></td>
        <%= content_tag :td, id: "like_" + activity.id.to_s do %>
          <%= activity.total_likes %>
        <% end %>
        <td>
        <% if current_user.voted_up_on? activity %>
          <%= link_to 'Unlike', unlike_activity_path(activity), remote: true, class: 'unlike_link', 
            id: 'unlike_link' + activity.id.to_s, activity_id: activity.id.to_s%>
          <%= link_to 'Like', like_activity_path(activity), remote: true, class: 'like_link', 
            id: 'like_link' + activity.id.to_s, activity_id: activity.id.to_s, hidden: true %>
        <% else %>
          <%= link_to 'Unlike', unlike_activity_path(activity), remote: true, class: 'unlike_link', 
            id: 'unlike_link' + activity.id.to_s, activity_id: activity.id.to_s, hidden: true %>
          <%= link_to 'Like', like_activity_path(activity), remote: true, class: 'like_link', 
            id: 'like_link' + activity.id.to_s, activity_id: activity.id.to_s%>
        <% end %>
      </td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Delete', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
  No activities yet.
<% end %>
