<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @activity.topic %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @activity.likes.size %>
</p>

<p>
  <strong>Cost: </strong>
  <%= @activity.cost %>
</p>

<%= link_to 'Back', @activity.trip %>
